<%- include('header'); -%>
<h1>Contact us</h1>
<div class = about>
    <p>Calvin Lee: calee@ucsd.edu</p>
    <p>Wesley Luu: waluu@ucsd.edu</p>
    <p>Young Keum: </p>
    <p>Ryan Heo:</p>
</div>
<%- include('footer'); -%>
