<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class = aboutHead>
        <h1>Meet Our Team</h1>
        <div class = 'member' id = 'cal'>
            <h2>Calvin Lee</h2>
            <ul>
                <li>3rd year Computer Engineeering major at UCSD</li>
                <li>Basketball mania for the past decade, huge Kobe Bryant fan</li>
                <li>Sneakerhead, mainly basketball shoes</li>
                <li>Role in this project: Main back-end developer, look over general structure</li>
            </ul>
        </div>
        <div class = 'member' id = 'wes'>
            <h2>Wesley Luu</h2>
            <ul>
                <li>3rd year Computer Science major at UCSD</li>
                <li>Hooper hooper, shooter shooter</li>
                <li>Role in this project: Main front-end developer</li>
            </ul>
        </div>
        <div class = 'member' id = 'young'>
            <h2>Young Keum</h2>
            <ul>
                <li>1st year IT major at UCSD</li>
            </ul>
        </div>
        <div class = 'member' id = 'ry'>
            <h2>Ryan Heo</h2>
            <ul>
                <li>2nd year Computer Science major at UCSD</li>
            </ul>
        </div>
    </section>
    <button type="button" class="btn btn-light" id="contact">Contact Us</button>
    <img src = "../public/logos/mambaforever.jpg" width="100%">
</body>
</html>
